#row_center{
	height: auto;
	background-image: url("http://www.psdgraphics.com/file/colorful-triangles-background.jpg");	
	opacity: 0.8;
}
#row_top{
	background-color: black;
	color: black;
	
}
.icn{
	width:auto;
}