<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<title>My Home Page</title>
	<link rel="stylesheet" href="public/lib/bootswatch/css/bootstrap.min.css">
	<link rel="stylesheet" href="public/lib/bootswatch/css/bstrap.css">
        <link rel="stylesheet" href="public/lib/angular-ui-select/dist/select.min.css">
        <link rel="stylesheet" href="public/lib/fullcalendar/fullcalendar.css">
	<link rel="stylesheet" href="css/homepage.css">
        <link rel="stylesheet" href="css/quake.css">
	<script src='public/lib/jquery/dist/jquery.min.js'></script>
        <script src='public/lib/jquery-ui/ui/jquery-ui.js'></script>
        <script src='public/lib/bootstrap/dist/js/bootstrap.min.js'></script>
	<script src='public/lib/bootswatch/js/bstrap.min.js'></script>
        <script src='public/lib/angular/angular.min.js'></script>
	<script src='public/lib/angular-ui-select/dist/select.min.js'></script>
        <script src='public/lib/fullcalendar/fullcalendar.js'></script>
        <script src='public/lib/angular-ui-calendar/src/calendar.js'></script>
        <script src='js/app.js'></script>
    	
</head>
<body ng-controller='MainController' class="container">
<div id="row_top" class="row top">
<div class="col-sm-12">....</div>
</div>
<!--Make a Bold heading-->
<div id="row_new" class="row" ng-hide="hidetext">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
<form name="myform">
  <p style="text-align:center;"><input type="text" required="true" ng-model="txt" style="border-radius: 10px;" placeholder="Enter HERE"></p>
  <p style="text-align:center"> <button class="btn btn-primary" ng-click="fn4()" ng-disabled="myform.$invalid"> Enter your Name to See The Homepage</button></p>
</form>
    </div>
    <div class="col-sm-4">
</div>
</div>
<div id="row_center" class="row" style="height:100%;" ng-show="showpage">
<div class="col-sm-2"  ></div>
<div class="jumbotron col-sm-8" style="border-radius: 20px; height:100%;opacity: 0.8;"  ng-mouseleave="fn2()">
    <h4 ngshow="txt!=''" style="color:white;" class="page-header"> Hello {{txt}}</h4>
    <p name="srch" style="text-align:center;" id="srch1" ng-mouseenter="fn1()"><button ng-show="srch" class="btn btn-important"  style="border-radius:20px;width:20%;">Search</button></p>
        <div id="srch2" >
        <ui-select  ng-click="fn3()" style="text-align:center;" ng-model="selectedabout.selected" theme="bootstrap" class="slct" reset-search-input="false" style="border-radius:20px; width: 80%;color:black;">
		<ui-select-match placeholder="What Do You Want to Know?" >
			<b>Want To Know About</b>:<b id="decision">{{$select.selected.name}}</b>
		</ui-select-match>
		<ui-select-choices repeat="e in about|filter:$select.search" >
			{{e.name}}
		</ui-select-choices>
	</ui-select>
        </div>
</div>
<div class="col-sm-2"></div>
</div>
    
<div class="row jumbotron" ng-show="decisionChosen=='technical'">
<div class="col-sm-2">
</div>
<div class="col-sm-8">
    <h4 class="page-header">Technical Experience</h4>
    <div class="list-group">
        <div ng-mouseleave="disptech('freelancer1')">
    <p><a id="freelancebgg" ng-mouseenter="disptech('freelancer')" class="list-group-item">Freelancer<span class="badge">3</span></a></p>
    <div ng-show="freelancebg">
        <ul class="list-group">
            <li class="list-group-item list-group-item ">Android App Development</li>
            <li class="list-group-item list-group-item ">Web App Development</li>
            <li class="list-group-item list-group-item ">Participation in IoT projects</li>
        </ul>
    </div>
    </div>
    <div ng-mouseleave="disptech('infy1')">
    <p><a id="infosysebgg" ng-mouseenter="disptech('infy')" class="list-group-item">Infosys Technologies Limited<span class="badge">1</span></a></p>
    <div ng-show="infybg">
        <ul class="list-group">
            <li class="list-group-item list-group-item ">ETL Developer</li>
        </ul>
    </div>
    </div>
    <div ng-mouseleave="disptech('hacker1')">
    <p><a id="hackbgg" ng-mouseenter="disptech('hacker')" class="list-group-item">Hackathon Hacker<span class="badge">3</span></a></p>
    <div ng-show="hackerbg">
        <ul class="list-group">
            <li class="list-group-item list-group-item ">Attended HackRice</li>
            <li class="list-group-item list-group-item ">Attended HackUTD</li>
            <li class="list-group-item list-group-item ">Attended HackTX</li>
        </ul>
    </div>
    </div>
    
    
    

</div>
</div>
<div class="col-sm-2"></div>
</div>

<div class="row jumbotron" ng-show="decisionChosen=='summary'">
<div class="col-sm-2"></div>
<div class="col-sm-8">
    <h4 class="page-header">Who Am I?</h4>
    <p>I am currently pursuing Masters in Computer Science at University of Texas at Dallas. I am interested in working with an organisation where I can best leverage my technical skill set to add value to the firm at at the same time enhance my technical, analytical and managerial skills by working on cutting edge technologies and handling challenging projects.

I enjoy working on software development,data mining and machine learning and have experience in working with technologies like Java,J2EE,C,JavaScript,jQuery, HTML, CSS, SQL, Data warehousing,Cognos,AB Initio,PHP,AJAX,Angular JS,Bootstrap CSS3.</p>
    
</div>
<div class="col-sm-2"></div>
</div>

<div class="row jumbotron" ng-show="decisionChosen=='frameworks'">
<div class="col-sm-2"></div>
<div class="col-sm-8">
    <h4>Frameworks Used</h4>
    <div class="list-group" ng-init="angular=false;bootstrap=false;">
        <a ng-mouseenter="angular=true" class="list-group-item active">Angular JS</a>
            <div ng-show="angular==true" ng-mouseenter="bootstrap=false" ng-mouseleave="angular=false">
            <p>
                <ol>
                    <li>Efficient for creating SPA</li>
                    <li>HIghly responsive design</li>
                    <li>Easier to implement</li>
                </ol>
            </p>
            </div>
        <a ng-mouseenter="bootstrap=true" class="list-group-item">Twitter Bootstrap CSS3</a>
            <div ng-show="bootstrap==true" ng-mouseenter="angular=false" ng-mouseleave="bootstrap=false">
            <p >
                <ol>
                    <li>Easier to build mobile responsive web application</li>
                    <li>Better UI designs</li>
                    <li>Presence of inbuilt Glyphicons</li>
                </ol>
            </p>
            </div>
</div>
</div>
<div class="col-sm-2"></div>
</div>

<div class="row jumbotron" ng-show="decisionChosen=='frontend'">
<div class="col-sm-2"></div>
<div class="col-sm-8">
    <h4 class="page-header">Reason for being an UI Developer</h4>
    <p>Being an Avid Coder and a hackathon hacker.My thirst for new technologies is unending.
    I still remember my first hackathon experience,being a newbie amd coming from a non computer science background,I was left perplexed seeing the amazing things that other students do over a span of 24 hours.
    Having seen the potential of new technologies,I felt inpired to learn new technologies and do a far better job at the next hackathons .After going through multiple technologies,I zeroed in on Angular due to its potential for creating applications,
    rether be it mobile or web.Due to this plethora of opportunities that come along with Angular and the amount of Rich UI experience it gives.I decided that UI development is the field that I should pursue forward.
    Months later now,I feel confident of creating SPA's using multiple frameworks like Angular,Bootstrap,etc.
    </p></div>
<div class="col-sm-2"></div>
</div>

<div class="row jumbotron" ng-show="decisionChosen=='browse'" style="height:100%;">
<div class="row">
<div class="col-sm-2">
    <p class="pull-left icn"><button type="button" class="btn btn-default btn-sm shake-me" ng-mouseenter="hoverfn('contact')">
          <span class="glyphicon glyphicon-phone-alt"></span> Contact
        </button></p>
    <p class="pull-left icn"><button type="button" class="btn btn-success btn-sm shake-me" ng-mouseenter="hoverfn('calendar')" >
          <span class="glyphicon glyphicon-calendar"></span> Calendar
        </button></p>
    <p class="pull-left icn"><button type="button" class="btn btn-important btn-sm shake-me" ng-mouseenter="hoverfn('mapmark')" >
          <span class="glyphicon glyphicon-globe"></span>Web projects
        </button></p>
    <p class="pull-left icn"><button type="button" class="btn btn-primary btn-sm shake-me" ng-mouseenter="hoverfn('projects')" >
          <span class="glyphicon glyphicon-phone"></span>Other Projects
        </button></p>
    <p class="pull-left icn"><button type="button" class="btn btn-info btn-sm shake-me" ng-mouseenter="hoverfn('picture')" >
          <span class="glyphicon glyphicon-picture"></span> Accomplishments
        </button></p>

</div>
<div class="col-sm-8" >
<div ng-show="arr[0]">
    <h3 class="page-header">Web Projects</h3>
    <div ng-repeat="proj in projects track by $index">
        <div  ng-mouseleave="showlink($index,false)">
        <h4>{{$index+1}}.{{proj.title}}</h4>
        <p style="font-size: 12px;">Description:{{proj.description}}</p>
        Frameworks/Technologies Used:{{proj.frameworks}}<br/>
        <div ng-show="showlinks[$index]">
    <object   type="text/html" data="{{proj.link}}" width="400px" height="250px" >
    </object></div>
    <a href="{{proj.link}}" ng-mouseenter="showlink($index,true)" ng-show="proj.link!='NA'" target="_blank">Link to {{proj.title}}</a>
    </div>
    </div>
</div>
<div ng-show="arr[1]">
    <h3 class="page-header">Accomplishments</h3>
    <div>
    <div class="pull-left">
    <a ng-mouseenter="accomplishment('python')">Python Statement of Accomplishment</a><br/>
    <a ng-mouseenter="accomplishment('ml')">Machine Learning Statement of Accomplishment</a><br/>
    <a ng-mouseenter="accomplishment('mmds')">Mining Massive Datasets Statement of Accomplishment</a>
    </div>
    <div class="pull-right">
        <div ng-show="python">
            <iframe src="http://www.slideshare.net/slideshow/embed_code/42286766" width="477" height="510" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="http://www.slideshare.net/HaridarshanHS/coursera-python-statement-of-acocmpishment" title="Coursera Python Statement of Accompishment" target="_blank">Coursera Python Statement of Accompishment</a> </strong> from <strong><a href="http://www.slideshare.net/HaridarshanHS" target="_blank">Haridarshan H S</a></strong> </div></div>
        <div ng-show="ml">
            <iframe src="http://www.slideshare.net/slideshow/embed_code/42821054" width="477" height="510" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="http://www.slideshare.net/HaridarshanHS/coursera-ml-2014-42821054" title="Coursera Machine Learning Statement of Accompishment" target="_blank">Coursera Machine Learning Statement of Accompishment</a> </strong> from <strong><a href="http://www.slideshare.net/HaridarshanHS" target="_blank">Haridarshan H S</a></strong> </div>
        </div>
        <div ng-show="mmds">
            <iframe src="http://www.slideshare.net/slideshow/embed_code/42339420" width="477" height="510" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="http://www.slideshare.net/HaridarshanHS/coursera-mmds-2014-42339420" title="Mining Massive Datasets Coursera Statement of Accomplishment" target="_blank">Mining Massive Datasets Coursera Statement of Accomplishment</a> </strong> from <strong><a href="http://www.slideshare.net/HaridarshanHS" target="_blank">Haridarshan H S</a></strong> </div></div>
        </div>
    </div>
</div>
<div ng-show="arr[2]">
    <h3 class="page-header">Other Projects</h3>
    <div ng-repeat="proj in otherprojects track by $index">
        <div >
        <h4>{{$index+1}}.{{proj.title}}</h4>
        <p style="font-size: 12px;">Description:{{proj.description}}</p>
        Frameworks/Technologies Used:{{proj.frameworks}}<br/>
    <a href="{{proj.link}}" target="_blank" ng-show="proj.link!='NA'">Link to {{proj.title}}</a>
    </div>
    </div>

</div>
<div ng-show="arr[3]">
<div class="calendar" ui-calendar="calOptions" ng-model="eventSources"></div> 
</div>
<div ng-show="arr[4]">
<h3 class="page-header">Contact me:</h3>
    <p>
        <a  class="btn btn-info btn-md shake-me" ng-click="mob=true">
          <span class="glyphicon glyphicon-phone"></span> Mobile Phone 
        </a>
      </p>
    <p ng-show="mob" style="text-align: center;">4697672278</p>
    <p>
        <a  class="btn btn-info btn-md shake-me" ng-click="addr=true">
          <span class="glyphicon glyphicon-home"></span> Home Address
        </a>
        
      </p> 
    <p ng-show="addr" style="text-align: center;">7720,McCallum Blvd,Apt 3075,Dallas,Texas-75252</p>
     <p>
        <a  class="btn btn-info btn-md shake-me" ng-click="email=true">
          <span class="glyphicon glyphicon-envelope"></span> Email Address
        </a>
      </p> 
    <p ng-show="email" style="text-align: center;">hsdars@gmail.com</p>
    <p ng-show="email" style="text-align: center;">hxh141330@utdallas.edu</p>
</div>
<div ng-show="arr[5]">
    <h3 class="page-header">Tired of Going though Multiple Projects? Try the Smart Search Instead</h3>
    <p style="text-align: center;"><input style="border-radius: 25px;color:black;" type="text" ng-model="search" placeholder="Enter Search item here"></p>
    <table class="table table-hover table-striped">
        <thead>
        <tr><th>Project Name</th><th>Project Type</th><th>Technologies Used</th></tr>
        </thead>
        <tbody>
         <tr ng-repeat="rec in resume|filter:search">
            <td>{{rec.name}}</td>
            <td>{{rec.type}}</td>
            <td>{{rec.tech}}</td>
         </tr>   
        </tbody>
    </table>
    
</div>
<div ng-show="arr[6]">
<iframe src="http://www.slideshare.net/slideshow/embed_code/44331745" width="477" height="510" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="//www.slideshare.net/HaridarshanHS/resume-44331745" title="Resume" target="_blank">Resume</a> </strong> from <strong><a href="http://www.slideshare.net/HaridarshanHS" target="_blank">Haridarshan H S</a></strong> </div>
</div>
<div ng-show="arr[7]">
<div>
    <p>
        <a href="https://www.linkedin.com/in/haridarshanhs" target="_blank" class="btn btn-primary btn-md shake-me">
          <span class="glyphicon glyphicon-user"></span> Add me on Linkedin 
        </a>
      </p>
    <p>
        <a href="https://www.facebook.com/darshan.hs.3" target="_blank" class="btn btn-default btn-md shake-me">
          <span class="glyphicon glyphicon-user"></span> Send a Friend request on Facebook 
        </a>
      </p>
    <p>
        <a href="http://challengepost.com/haridarshan" target="_blank" class="btn btn-primary btn-md shake-me">
          <span class="glyphicon glyphicon-user"></span> Follow me on ChallengePost 
        </a>
      </p>
    <p>
        <a href="https://github.com/darshanhs90" target="_blank" class="btn btn-default btn-md shake-me">
          <span class="glyphicon glyphicon-user"></span> Fork my repository on Github 
        </a>
      </p> 
</div>

</div>
<div ng-show="arr[8]">
    <h3 class="page-header">Hobbies</h3>
    <div class="list-group">
        <div ng-mouseleave="activetoggler('sports1')">
    <p><a id="sprts" ng-mouseenter="activetoggler('sports')" class="list-group-item">Sports<span class="badge">4</span></a></p>
    <div ng-show="sports">
        <ul class="list-group">
            <li class="list-group-item list-group-item ">Tennis</li>
            <li class="list-group-item list-group-item ">Table Tennis</li>
            <li class="list-group-item list-group-item ">Badminton</li>
            <li class="list-group-item list-group-item">Football</li>
        </ul>
    </div>
    </div>
    <p><a id="freelance" ng-mouseenter="activetoggler('freelancing')" ng-mouseleave="activetoggler('freelancing1')" class="list-group-item">Freelancing</a></p>
    <p><a id="photograph" ng-mouseenter="activetoggler('photography')" ng-mouseleave="activetoggler('photography1')" class="list-group-item">Photography</a></p>
  </div>
</div>
<div ng-show="arr[9]">
    <h3 class="page-header">Travelogue</h3>
    Places visited:
        <a ng-mouseenter="setsource('taj')">1.Taj Mahal</a>
        <a ng-mouseenter="setsource('ussc')">2.US State Capitol</a>
        <a ng-mouseenter="setsource('roop')">3.RoopKund</a>
        <a ng-mouseenter="setsource('kashmir')">4.Kashmir</a>
        <a ng-mouseenter="setsource('manali')">5.Manali</a>
    <p style="text-align:center;"><img class="img img-thumbnail" style="width: 300px" id="travel"></p>

</div>
</div>
<div class="col-sm-2">
   <p class="pull-right icn"><button type="button" class="btn btn-default btn-sm shake-me" ng-mouseenter="hoverfn('search')">
          <span class="glyphicon glyphicon-search"></span> Search
        </button></p>
   <p class="pull-right icn"><button type="button" class="btn btn-success btn-sm shake-me" ng-mouseenter="hoverfn('linkedin')">
          <span class="glyphicon glyphicon-star"></span> Resume
        </button></p>
    <p class="pull-right icn"><button type="button" class="btn btn-important btn-sm shake-me" ng-mouseenter="hoverfn('road')">
          <span class="glyphicon glyphicon-tower"></span> Hobbies
        </button></p>
   <p class="pull-right icn"><button type="button" class="btn btn-primary btn-sm shake-me" ng-mouseenter="hoverfn('facebook')">
          <span class="glyphicon glyphicon-plus"></span> Networking
        </button></p>
   <p class="pull-right icn"><button type="button" class="btn btn-info btn-sm shake-me" ng-mouseenter="hoverfn('plane')">
          <span class="glyphicon glyphicon-plane"></span> Travelogue
        </button></p>


</div>
</div>
<!--
fb//linkedin//javaprojects//searchbutton//resume//webprojects//workex/hobbies//photography//Travelogue//challengepost-->
</div>

</body>
</html>